trunk/MediaService.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.bamnetworks.com/media/types/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://services.bamnetworks.com/media/types/2.0">
	<element name="user-verified-media-request" type="tns:UserVerifiedMediaRequest"/>
	<element name="user-verified-media-response" type="tns:UserVerifiedMediaResponse"/>
	<element name="swarmcast-key-response" type="tns:SwarmcastKeyGenResponse"/>
	<complexType name="SwarmcastKeyGenResponse">
		<sequence>
			<element minOccurs="0" name="url" type="xsd:string"/>
			<element minOccurs="0" name="key" type="xsd:long"/>
			<element name="status-code" type="tns:SwarmcastKeyStatusCode"/>
			<element name="status-message" type="xsd:string"/>
		</sequence>
	</complexType>
	<simpleType name="SwarmcastKeyStatusCode">
		<restriction base="xsd:int">
			<enumeration value="1">
				<annotation>
					<documentation>OK</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-1000">
				<annotation>
					<documentation>Requested media not found</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-2000">
				<annotation>
					<documentation>Auth error</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-2500">
				<annotation>
					<documentation>Blackout error</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-3000">
				<annotation>
					<documentation>Identity error</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-3500">
				<annotation>
					<documentation>Sign-on restriction error</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-4000">
				<annotation>
					<documentation>System Error</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<complexType name="UserVerifiedMediaRequest">
		<sequence>
			<element minOccurs="0" name="event-id" type="xsd:string"/>
			<element minOccurs="0" name="content-id" type="xsd:long"/>
			<element minOccurs="0" name="playback-scenario" type="xsd:string"/>
			<element minOccurs="0" name="subject" type="xsd:string"/>
			<element minOccurs="0" name="ip-address" type="xsd:string"/>
			<element minOccurs="0" name="credit-card" type="tns:CreditCard"/>
			<element minOccurs="0" name="fingerprint-identity-point" type="tns:IdentityPoint"/>
			<element minOccurs="0" name="session-key" type="xsd:string"/>
		</sequence>
	</complexType>
	<complexType name="UserVerifiedMediaResponse">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="user-verified-event" type="tns:UserVerifiedEvent"/>
			<element maxOccurs="unbounded" minOccurs="0" name="entitlements" type="tns:Entitlements"/>
			<element minOccurs="0" name="determined-location" type="tns:MediaUserLocation"/>
			<element minOccurs="0" name="session-key" type="xsd:string"/>
			<element name="status-code" type="tns:ResponseStatusCode"/>
			<element minOccurs="0" name="updated-fingerprint" type="xsd:string"/>
		</sequence>
	</complexType>
	<complexType name="UserVerifiedEvent">
		<sequence>
			<element minOccurs="0" name="event-id" type="xsd:string"/>
			<element maxOccurs="unbounded" name="user-verified-content" type="tns:UserVerifiedContent"/>
			<element minOccurs="0" name="domain-specific-attributes" type="tns:MediaAttributes"/>
		</sequence>
	</complexType>
	<complexType name="UserVerifiedContent">
		<sequence>
			<element name="content-id" type="xsd:long"/>
            <element minOccurs="0" name="type" type="xsd:string"/> <!-- HACKED HERE, added -->
			<element maxOccurs="unbounded" name="user-verified-media-item" type="tns:UserVerifiedMediaItem"/>
			<element minOccurs="0" name="domain-specific-attributes" type="tns:MediaAttributes"/>
		</sequence>
	</complexType>
	<complexType name="UserVerifiedMediaItem">
		<sequence>
			<element name="media-item" type="tns:MediaItem"/>
			<element minOccurs="0" name="url" type="xsd:string"/>
			<element name="auth-status" type="tns:AuthStatus"/>
			<element name="blackout-status" type="tns:BlackoutStatus"/>
		</sequence>
	</complexType>
	<complexType name="MediaItem">
		<sequence>
			<element name="type" type="xsd:string"/>
			<element name="state" type="xsd:string"/>
			<element name="cat-code" type="xsd:string"/>
			<element name="login-required" type="xsd:string"/>
			<element name="auth-required" type="xsd:string"/>
			<element name="blackout-keywords" type="tns:BlackoutKeywords"/>
			<element name="playback-scenario" type="xsd:string"/>
			<element name="has-synched-data" nillable="true" type="xsd:string"/>
			<element name="preview-url" nillable="true" type="xsd:string"/>
			<element maxOccurs="unbounded" minOccurs="0" name="audio-track" type="tns:AudioTrack"/>
			<element maxOccurs="unbounded" minOccurs="0" name="innings-index" nillable="true" type="xsd:string"/>
        <element minOccurs="0" name="cdn" type="xsd:string"/> <!-- HACKED HERE, added -->
        <element minOccurs="0" name="sequence" type="xsd:long"/> <!-- HACKED HERE, added -->
		</sequence>
	</complexType>
	<complexType name="MediaAttributes">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="domain-attribute" type="tns:MediaAttribute"/>
		</sequence>
	</complexType>
	<complexType name="MediaAttribute">
		<simpleContent>
			<extension base="xsd:string">
				<attribute name="name" type="xsd:string" use="required"/>
				<attribute name="type" use="optional">
					<simpleType>
						<restriction base="xsd:string">
							<enumeration value="date"/>
							<enumeration value="double"/>
							<enumeration value="long"/>
							<enumeration value="string"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="AudioTrack">
		<sequence>
			<element name="description" type="xsd:string"/>
			<element name="type" type="xsd:string"/>
			<element name="language" type="xsd:string"/>
			<element name="channel" type="xsd:long"/>
			<element name="icon-id" type="xsd:long"/>
		</sequence>
	</complexType>
	<complexType name="BlackoutKeywords">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="blackout-keyword" type="xsd:string"/>
		</sequence>
	</complexType>
	<complexType name="AuthStatus">
		<choice>
			<element name="successStatus" type="tns:SuccessStatus"/>
			<element name="notAuthorizedStatus" type="tns:NotAuthorizedStatus"/>
			<element name="loginRequiredStatus" type="tns:LoginRequired"/>
			<element name="previewStatus" type="tns:PreviewStatus"/>
		</choice>
	</complexType>
	<complexType name="BlackoutStatus">
		<choice>
			<element name="successStatus" type="tns:SuccessStatus"/>
			<element name="blackedOutStatus" type="tns:BlackedOutStatus"/>
			<element name="locationCannotBeDeterminedStatus" type="tns:LocationCannotBeDeterminedStatus"/>
		</choice>
	</complexType>
	<complexType name="BlackedOutStatus">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="blackout" type="xsd:string"/>
		</sequence>
	</complexType>
	<complexType name="SignOnRestrictionStatus"/>
	<complexType name="LocationCannotBeDeterminedStatus"/>
	<complexType name="LoginRequired"/>
	<complexType name="SuccessStatus"/>
	<complexType name="PreviewStatus"/>
	<complexType name="NotAuthorizedStatus"/>
	<complexType name="MediaUserLocation">
		<sequence>
			<element minOccurs="0" name="postal-code" type="xsd:string"/>
			<element minOccurs="0" name="country-code" type="xsd:string"/>
		</sequence>
	</complexType>
	<complexType name="Entitlements">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="entitlement" type="xsd:string"/>
		</sequence>
	</complexType>
	<complexType name="IdentityPoint">
		<sequence>
			<element name="identity-point-id" type="xsd:string"/>
			<element name="fingerprint" type="xsd:string"/>
		</sequence>
	</complexType>
	<complexType name="SessionKey">
		<sequence>
			<element name="session-key" type="xsd:string"/>
		</sequence>
	</complexType>
	<complexType name="CreditCard">
		<sequence>
			<element minOccurs="0" name="address" type="tns:Address"/>
			<element minOccurs="0" name="card-type" type="xsd:integer"/>
			<element minOccurs="0" name="description" type="xsd:string"/>
			<element name="expiration-month" type="xsd:integer"/>
			<element name="expiration-year" type="xsd:integer"/>
			<element minOccurs="0" name="id" type="xsd:string"/>
			<element minOccurs="0" name="name-on-card" type="xsd:string"/>
			<element name="number" type="xsd:string"/>
			<element minOccurs="0" name="security-id" type="xsd:string"/>
		</sequence>
	</complexType>
	<complexType name="Address">
		<sequence>
			<element minOccurs="0" name="city" type="xsd:string"/>
			<element minOccurs="0" name="country" type="xsd:string"/>
			<element minOccurs="0" name="description" type="xsd:string"/>
			<element minOccurs="0" name="first-name" type="xsd:string"/>
			<element minOccurs="0" name="id" type="xsd:string"/>
			<element minOccurs="0" name="last-name" type="xsd:string"/>
			<element minOccurs="0" name="middle-name" type="xsd:string"/>
			<element minOccurs="0" name="phone-number" type="xsd:string"/>
			<element minOccurs="0" name="phone-type" type="xsd:integer"/>
			<element minOccurs="0" name="state" type="xsd:string"/>
			<element minOccurs="0" name="street1" type="xsd:string"/>
			<element minOccurs="0" name="street2" type="xsd:string"/>
			<element minOccurs="0" name="street3" type="xsd:string"/>
			<element minOccurs="0" name="postal-code" type="xsd:string"/>
		</sequence>
	</complexType>
	<simpleType name="ResponseStatusCode">
		<restriction base="xsd:int">
			<enumeration value="1">
				<annotation>
					<documentation>OK</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-1000">
				<annotation>
					<documentation>Requested media not found</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-2000">
				<annotation>
					<documentation>Invalid App Account Information</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-3000">
				<annotation>
					<documentation>Invalid user credentials</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-3500">
				<annotation>
					<documentation>Sign-on restriction status</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-4000">
				<annotation>
					<documentation>System Error</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
</schema>
